#root {
  max-width: 1280px;
  text-align: center;
}
body {
  background-color: #040404;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.animated-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: inline-block;
  border-right: 2px solid black; /* Cursor effect */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide the overflow during the animation */
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 16ch; /* Adjust the value to match the length of the longest text */
  }
  60% {
    width: 16ch;
  }
  100% {
    width: 0ch;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.text {
  display: inline-block;
  animation: typing 4s steps(14, end) infinite, blink 0.7s step-end infinite;
}
